.domrf-plugin-container {
    background: #FFFFFF;
    border-right: 1px solid lightgray;
}
.domrf-plugin-container .hidden {
	display: none;
}

.domrf-plugin-container a {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
}


.domrf-plugin-container .currDrawingObjArea {
    background-color: lightgreen;
}

.nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.nav-link {
	display: block;
	padding: .5em 1em
}

.nav-link:focus,
.nav-link:hover {
	text-decoration: none
}

.nav-link.disabled {
	color: #636c72;
	cursor: not-allowed
}

.nav-tabs {
	border-bottom: 1px solid #ddd
}

.nav-tabs .nav-item {
	/*margin-bottom: -1px;*/
	width: 50%;
    font-weight: 500;
    text-align: center;
    background: #F3F7FA;
    border-left: 1px solid lightgray;
}

.nav-tabs .nav-link {
	/*border: 1px solid transparent;*/
	/*border-top-right-radius: .25rem;*/
	/*border-top-left-radius: .25rem*/
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	/*border-color: #eceeef #eceeef #ddd*/
}

.nav-tabs .nav-link.disabled {
	color: #636c72;
	background-color: transparent;
	border-color: transparent
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #02A97A;
	background-color: rgba(2, 169, 122, 0.1);
	border-bottom: 4px solid #02A97A;
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0
}

a.nav-link {
    color: #394B59;
	text-decoration: none;
}


ul.nav.nav-tabs li:first-child.nav-item a.nav-link:before {
    content: url(./img/del_ic.svg);
    width: 12px;
    height: 10.5px;
    display: inline-block;
    z-index: 100;
    margin-right: 5px;
}

ul.nav.nav-tabs li:first-child.nav-item a.nav-link.active:before {
    content: url(./img/del_ic_act.svg);
    width: 12px;
    height: 10.5px;
    display: inline-block;
    z-index: 100;
    margin-right: 5px;
}

ul.nav.nav-tabs li:last-child.nav-item a.nav-link:before {
    content: url(./img/otch_ic.svg);
    width: 12px;
    height: 10.5px;
    display: inline-block;
    z-index: 100;
    margin-right: 5px;
}

ul.nav.nav-tabs li:last-child.nav-item a.nav-link.active:before {
    content: url(./img/otch_ic_act.svg);
    width: 12px;
    height: 10.5px;
    display: inline-block;
    z-index: 100;
    margin-right: 5px;
}

ul.nav.nav-tabs li:nth-child(2).nav-item a.nav-link:before {
    content: url(./img/del_ic.svg);
    width: 12px;
    height: 10.5px;
    display: inline-block;
    z-index: 100;
    margin-right: 5px;
}

ul.nav.nav-tabs li:nth-child(2).nav-item a.nav-link.active:before {
    content: url(./img/del_ic_act.svg);
    width: 12px;
    height: 10.5px;
    display: inline-block;
    z-index: 100;
    margin-right: 5px;
}


